[Desktop Entry]
Type=Application
Name=Kollate
GenericName=E-reader Highlights
Comment=Your e-reader highlights, notes, handwriting and vocabulary
Exec=kollate
Icon=io.github.andrew_lawlor.Kollate
Terminal=false
Categories=Office;GTK;GNOME;
Keywords=kobo;koreader;ereader;e-reader;highlights;annotations;notes;handwriting;stylus;notebook;vocabulary;dictionary;anki;obsidian;readwise;
StartupNotify=true
DBusActivatable=false
